.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 3px;
        font-size: $default-font-size;
        transition: all .2s;
        border: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: $shadow-light;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-dark;
        transform: translateY(-1px);
    }

    &--blue {
        background-color: $color-primary-dark;
        color: $color-white;

        &:disabled {
            background-color: $color-grey;
        }

        &:hover:enabled {
            background-color: darken($color-primary-dark, 5);
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-primary-dark;

        &:disabled {
            background-color: $color-grey;
        }

        &:hover:enabled {
            background-color: darken($color-white, 10);
        }
    }

    &--link {

        &,
        &:link,
        &:visited {
            padding-left: 0;
            padding-right: 0;

            color: $color-primary;
        }

        &:hover {
            color: $color-primary-dark;
        }
        
    }
}