@import '../../sass/variables';

.resetPassword {
    padding: 15rem 0;
    max-width: 40rem;
    margin: 0 auto;

    @media screen and (min-width: $bp-medium) {
        padding: 20rem 0;
    }

    &__title {
        text-align: center;
        font-size: 3.5rem;
        color: $color-primary-dark;
        margin-bottom: 2rem;
    }

    &__success-container {
        display: grid;
        row-gap: 1rem;
        justify-items: center;
    }

    &__success-text {
        color: $color-secondary-text;
        margin-bottom: 1.5rem;
    }

}