@import '../sass/variables';

.articleCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: .5rem;
    height: 30rem;
    
    &__author {
        grid-column: 1 / -1;
        justify-self: start;
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-primary-dark;
        grid-column: 2 / -1;
    }

    &__description {
        color: $color-secondary-text;
        grid-column: 1 / -1;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }

    &__link {
        grid-column: 2 / -1;
        justify-self: end;
        grid-row: 4/ 5;
    }

    &__date {
        font-size: 1.2rem;
        color: $color-grey-dark-3;
        grid-column: 1 / 3;
        grid-row: 4/ 5;
    }


    &__likes {
        grid-row: 3 /4;
        grid-column: 1 / -1;
        
        display: flex;
        align-items: center;

        &-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .5rem;
            fill: #ce2897;
        }

        &-value {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.2rem;
            color: $color-secondary-text;
        }
    }


}