@import '../../sass/variables';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    background-color: rgba(0,0,0,.5);
    z-index: 2000;

    @media screen and (min-width: $bp-medium) {
        width: 100vw;
        height: 100vh;
    }
}